# Dependencies
node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# Testing
/coverage
*.lcov

# Next.js
/.next/
/out/
.next
out

# Production
/build
/dist

# Misc
.DS_Store
*.pem
.vscode/settings.json
.idea

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Local env files
.env
.env*.local
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
Thumbs.db
Desktop.ini

# Logs
logs
*.log

# Temporary files
*.tmp
*.temp
.cache

# Documentation builds
.docusaurus
